<template>
  <v-container>
    <v-row justify="space-around">
      <v-col cols="auto">
        <h2>Send actions</h2>
      </v-col>
    </v-row>
    <v-container v-for="profile in profilesData" :key="profile.profileId">
      <center>
        <h2>{{ profile.profileId }} Profile</h2>
      </center>
      <v-row v-for="action in profile.actions" :key="action.name" justify="space-around">
        <v-col cols="6">
          <v-row>
            <v-col>Action</v-col>
            <v-col>{{ action.name }} </v-col>
          </v-row>
          <h3 v-if="action.requiredProps">Required*</h3>
          <v-row v-for="prop in action.requiredProps" :key="prop">
            <v-col>{{ prop }} </v-col>
            <v-col>
              <input v-model="data[action.name][prop]" type="text" class="input is-rounded" :name="prop" :placeholder="prop" />
            </v-col>
          </v-row>
          <h3 v-if="action.optionalProps">Optional</h3>
          <v-row v-for="prop in action.optionalProps" :key="prop">
            <v-col>{{ prop }} </v-col>
            <v-col>
              <input v-model="data[action.name][prop]" type="text" class="input is-rounded" :name="prop" :placeholder="prop" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="secondary" @click="sendAction(action.name)">Send</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script setup lang="ts">
import { postData } from '@/utils/backend'
import { onBeforeMount } from '@vue/runtime-core'

const data: { [key: string]: any } = {}

const chargePointId = 'goego-002'

const profilesData: { profileId: string; actions: { name: string; requiredProps?: string[]; optionalProps?: string[] }[] }[] = [
  { profileId: 'Core', actions: [{ name: 'RemoteStartTransaction', requiredProps: ['idTag', 'connectorId'], optionalProps: ['parentIdTag'] }] },
  { profileId: 'TriggerMessage', actions: [{ name: 'SendMessage', optionalProps: ['idTag'] }] },
]

onBeforeMount(() => {
  for (const actions of profilesData.map((p) => p.actions)) {
    for (const action of actions) {
      data[action.name] = {}
      if (action.requiredProps) {
        for (const prop of action.requiredProps) {
          data[action.name][prop] = ''
        }
      }
    }
  }
})

const validateData = (props: any) => {
  for (const prop of Object.values(props)) if ((prop as string).trim().length < 1) return false
  return true
}

const sendAction = async (actionName: string) => {
  const props = data[actionName]
  if (validateData(props)) {
    const req = { chargePointId: chargePointId, action: actionName, props: data[actionName] }
    console.log(req.props)
  } else alert('fill all the required fields')
}
</script>
