<template>
  <v-card :loading="loading" elevation="7" class="mx-auto" max-width="374">
    <template v-slot:progress>
      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
    </template>
    <br />
    <v-img height="250" :src="product.img"></v-img>

    <v-card-title
      >{{ product.name }}
      <v-icon large style="color: gold"> mdi-flash </v-icon>
    </v-card-title>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating :value="4.5" color="amber" dense half-increments readonly size="14"></v-rating>
        <v-icon large> mdi-star </v-icon>
        <div class="grey--text">4.5 (413)</div>
      </v-row>
      <br />
      <div class="my-4 text-subtitle-1">
        Avg.Ex-showroom price <br />
        <strong> ₹ {{ product.price }} onwards </strong>
      </div>

      <div>City speed varient with speed of more than 42km/hr.</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <div v-if="!inCart">
      <v-card-title v-if="product.inStock" style="color: green">In Stock</v-card-title>
      <v-card-title v-else style="color: red">Out of Stock</v-card-title>
    </div>

    <v-card-actions>
      <v-container>
        <v-row justify="space-around">
          <v-col cols="auto">
            <v-btn class="bg-blue-lighten-2 text-white" text @click.prevent="$emit('onAddToCard', product)" v-if="product.inStock"> Add to cart </v-btn>
            <v-btn class="bg-blue-lighten-2 text-white" text @click.prevent="productDetail(product.id)"> View Details </v-btn>
            <v-btn class="bg-red-lighten-2 text-white" text @click="$emit('onRemoveFromCart', product)" v-if="inCart"> Remove from Cart </v-btn>
          </v-col>
        </v-row>
        <v-row v-if="inCart" justify="space-around">
          <v-col cols="auto">
            <span>Qty:{{ quantity }}</span>
          </v-col>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, defineEmit, defineProps, PropType, reactive, toRefs } from 'vue'
import router from '@/router'

export default {
  props: {
    product: { type: Object as PropType<any>, required: true },
    inCart: Boolean,
    quantity: Number,
  },

  setup(props: any) {
    const { product } = toRefs(props)
    const book = reactive({ title: 'Vue 3 Guide' })
    const productDetail = (id: string) => {
      router.push('/product/' + id)
    }
    return {
      book,
      productDetail,
    }
  },

  emits: ['onAddToCard', 'onRemoveFromCart', 'viewDetails'],
}
</script>
