<template>
  <v-app>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
    <v-divider></v-divider>

  </v-app>
</template>

<script setup lang="ts">
</script>
